

.circle {
  border: 1px #4a5b76 solid;
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: relative;
}

.btn_position {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 56px;
  height: 56px;
  z-index: 20;
}

.title {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.currentSection {
  position: absolute;
}